body {
  background: radial-gradient(circle at center, #ce1f1f, #330000);
  color: #f8dada;
  font-family: 'Papyrus', cursive; 
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart-message {
  font-family: "Times New Roman", Times, serif; 
  font-size: 1.5rem;
  color: #ffcccc;
  text-shadow: 1px 1px 3px #000;
  margin-bottom: 20px;
}

.atay-message {
  font-family: 'Times New Roman', cursive; 
  font-size: 3rem;
  color: #ff6666;
  text-shadow: 2px 2px 6px #000;
  margin-top: 15px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

.cell {
  background: radial-gradient(circle at center, #660000, #330000);
  border: 2px solid #990000;
  box-shadow: inset 0 0 10px #000000aa;
  color: #f8f8f8;
  font-size: 2rem;
  font-family: 'UnifrakturCook', cursive; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.cell:hover {
  background-color: #ad1616;
  transform: scale(1.05);
}

#restartBtn {
  background-color: #6b1818;
  border: none;
  color: #f0cbcb;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Times New Roman', cursive;
  border-radius: 5px;
  box-shadow: 0 2px 5px #00000055;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#restartBtn:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}